.navul {
    list-style: none;
    text-align: right;
    padding: 0px;
    margin: 0px;

}

.navul > li {
    width: 150px;  
    position: relative;
    margin-bottom: 2px;
    float: left;
}

.navul > li > a {
    text-decoration: none;
    color: black;
}

.navul > li > a:hover {
    color: #FFCA89
}

.navul > li > ul {
    list-style: none;
    margin-top: 0;
    display: none;  
}

.navul > li > ul > li > a {
    text-decoration: none;
    color: black;
}

.navul > li > ul > li > a:hover {
    color: #FFCA89
}

.navul > li:hover > ul {
    display: block;
}
    
   
