.navul {
    list-style: none;
    text-align: left;
    padding-bottom: 0px;
    display: flex; 
    flex-direction: row;
    float: right;

}

.navul > li {
    margin-right: 50px;
    margin-bottom: 0px;
    position: relative;
    
}

.navul > li > a {
    text-decoration: none;
    color: black;
}

.navul > li > a:hover {
    color: #FFCA89
}

.navul > li > ul {
    margin-top: 0px;
    margin-left: -40px;
    padding-top: 5px;
    list-style: none;
    display: none;
    position: absolute;
    
}

.navul > li > ul > li > a {
    text-decoration: none;
    color: black;
    text-align: left;
}

.navul > li > ul > li > a:hover {
    color: #FFCA89
}

.navul > li:hover > ul {
    display: block;
}
    
   
