.navul {
    list-style: none;
    text-align: left;
    padding-bottom: 0px;
    display: flex; 
    flex-direction: row;
    float: right;
    padding: 20px;

}

.navul > li {
    margin-right: 50px;
    margin-bottom: 0px;
    position: relative;
    
}

.navul > li > a {
    text-decoration: none;
    color: black;
}

.navul > li > a:hover {
    color: #FFCA89;
}

.navul > li > ul {
    margin-top: 0px;
    padding: 5px;
    list-style: none;
    display: none;
    position: absolute;
    background-color: floralwhite;
    background: transparent; 
    
}

.navul > li > ul > li {
    padding: 5px; 
}

.navul > li > ul > li > a {
    text-decoration: none;
    color: black;
    text-align: left;
}

.navul > li > ul > li > a:hover {
    color: #FFCA89;
}

.navul > li:hover > ul {
    display: block;
    padding: 5px;
}

.label {
    margin: 0 40px 0 0; 
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px; 
    float: right;
}

#toggle {
    display: none;
}
    
@media only screen and (max-width: 767px) {
    .label {
        display: block;
        cursor: pointer;
    }
    
    .navul {
        text-align: right;
        width: 100%;
        display: none;
    }
    
    .navul a {
        display: block;
        margin: 0;
        clear: right;
        
    }
    
    #toggle:checked + .navul {
        display: block;
    }
}
   
